.transaction-container{
  width:100%;
  max-width:430px;
  margin:0 auto;
  padding:20px 16px 100px;
}

.transaction-header{
  margin-bottom:25px;
}

.transaction-header h1{
  font-size:28px;
}

.transaction-card{
  background:#1b263b;
  border-radius:22px;
  padding:18px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
  cursor:pointer;
  gap:12px;
}

.tx-left{

  display:flex;

  align-items:center;

  gap:14px;

  flex:1;

  min-width:0;

}


.tx-info h3{

  margin:0;

  font-size:15px;

  font-weight:700;

  color:white;

  white-space:nowrap;

  overflow:hidden;

  text-overflow:ellipsis;

  max-width:170px;

}



.tx-date{

  margin-top:6px;

  opacity:.65;

  font-size:12px;

  white-space:nowrap;

  overflow:hidden;

  text-overflow:ellipsis;

}


.tx-right{

  display:flex;

  flex-direction:column;

  align-items:flex-end;

  justify-content:center;

  margin-left:12px;

}



.tx-amount{

  font-size:16px;

  font-weight:800;

  white-space:nowrap;

}



.tx-status{

  margin-top:8px;

  padding:5px 10px;

  border-radius:999px;

  font-size:11px;

  font-weight:700;

  text-transform:capitalize;

  white-space:nowrap;

}


.tx-icon{

  width:52px;
  min-width:52px;

  height:52px;
  min-height:52px;

  border-radius:50%;

  background:#044e4e;

  display:flex;

  justify-content:center;
  align-items:center;

  font-size:22px;

  flex-shrink:0;

}

.credit{
  color:#00D492;
}

.debit{
  color:#FF5A5A;
}






/* ===============================
   NEVER OVERRIDE LOADER
================================ */

#globalLoader,
#globalLoader *{

  animation-play-state:running !important;

  transform-origin:center !important;

}





/* =========================
   STATUS COLORS
========================= */

.status-success{

  background:
  rgba(0,212,146,.15);

  color:#00D492;

}

.status-pending{

  background:
  rgba(255,193,7,.15);

  color:#FFC107;

}

.status-failed{

  background:
  rgba(255,90,90,.15);

  color:#FF5A5A;

}